

body{
    color: #00AEEF;
    background: white;
    border: 2px solid rgb(0, 112, 239);
}
button{
    border: 2px solid #00AEEF;
    background-color: white;
    color: #00AEEF;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    
    
}

button:hover {
    background: #00AEEF;
    color: white;
}
.navigation-container{
    border-bottom: 2px solid rgb(0, 112, 239);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-content: flex-end;
}
.navigation-container > div{
     border-right: 2px solid rgb(0, 112, 239);
}
.navigation-container :nth-last-child(1)
{
    border-right: none;
}
.home-container{
    /* border: 2px solid #00AEEF; */
    border-bottom: 2px solid rgb(0, 112, 239);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-align: center; 
    height: 300px;

}
.home-container >div
{
    border-right: 2px solid  rgb(0, 112, 239);
}
.home-container div:nth-last-child(1)
{
    border-right: none;
}

.team-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:auto;
    margin-right:auto;
    justify-items: center;
    grid-gap: 20px;
}

.about-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left:auto;
    margin-right:auto;
    justify-items: center;
}

.contact-container{
    /* border: 2px solid #00AEEF; */
    border-top: 2px solid rgb(0, 112, 239);
    width: 100%;
    display: grid;
    font-size:25px;
    text-align: center;
    grid-template-columns: 1fr;
    justify-items: center;
}

.circle {
    border: 2px solid rgb(0, 112, 239);
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    width: 70%;
    padding-bottom: 60%;
    border-radius: 50%;
  }

  .team-container  div.circle:nth-child(1):hover{
 background-color: #00AEEF;
  }
  .team-container  div.circle:nth-child(2):hover{
background-color: #0000FF;
  }
  .team-container  div.circle:nth-child(3):hover{
background-color: #FF00FF;
  }
  .rectangle{
    border: 2px solid rgb(0, 112, 239);
   
    width: 70%;
    margin: 15px;
    border-radius: 20%;
    padding-bottom: 50%;
  }
  .about-container div.rectangle:hover{
      background-color: #00AEEF;
      color: white;
  }
  